// main: ../main.scss

.app {
  &-unauthed {
    @extend .fullScreenSection;
    @extend .shadow-left;
  }
}

nav {
  position: fixed;
  overflow: hidden;
  width: 0;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 60px;
  background-color: $primary-dark;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
  transition: 0.3s;

  &.open {
    width: 100%;
  }

  @include respond-to($medium){
    width: 250px;
    &.open {
      width: 250px;
    }
  };
  a {
    color: $text;
    padding: 16px 20px;
  }
}
