// main: ../main.scss

// $primary: #b71c1c;
// $primary-light: #f05545;
// $primary-dark: #7f0000;

$primary: #1565c0;
$primary-light: #5e92f3;
$primary-dark: #003c8f;

$secondary: #212121;
$secondary-light: #484848;
$secondary-dark: #111;

$body: #E1E2E1;
$body-light: #F5F5F6;
$body-dark: #919192;

$text: #fff;
