// Colors

$primary: #b71c1c;
$primary-light: #f05545;
$primary-dark: #7f0000;

$secondary: #212121;
$secondary-light: #484848;
$secondary-dark: #000000;

$text: #fff;

body {
  margin: 0;
  color: $text;
  font-family: sans-serif;
  background-color: $secondary;
}

a {
  text-decoration: none;

  &:visited {
    color: $text;
  }
}

.plate {
  z-index: 10;
  position: absolute;
  margin: 0;
  left: 20px;
  top: 16px;
  font-size: 16px;
  color: $text;

  &.big {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vw;
    text-align: center;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-dark;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;

  a {
    color: $text;
    padding: 16px 20px;
  }
}


form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: $primary-dark;

  fieldset {
    border: 0;
    padding: 16px 12px;

    input {
      outline: 0;
      border: 2px solid $primary-dark;
      padding: 8px 12px;
    }
    label {
      padding-right: 8px;
    }
  }
  button {
    outline: 0;
    border: 0;
    background-color: white;
    padding: 8px 24px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
